
/**************** upload-input **************/
.upload-input {
    height: 230px;
    position: relative;
    border-radius: 0.625rem;
    border: 1px solid rgba(174, 174, 174, 0.5); }
    .upload-input .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      .upload-input .preview img {
        max-height: 144px; }
    .upload-input .z-index {
      z-index: 1; }
    .upload-input .btn-img {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1; }
      .upload-input .btn-img:focus {
        box-shadow: 0 0 0 0.15rem rgba(0, 85, 184, 0.2); }
    .upload-input #img {
      display: none;
      flex-direction: column; }
      .upload-input #img h6 {
        margin-top: 0.625rem;
        font-size: 0.75rem; }
    .upload-input .custom-file-input {
      min-height: 100%;
      z-index: 1;
      opacity: 0;
      display: none; }
    .upload-input .custom-file-label {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer; }
      .upload-input .custom-file-label p {
        margin: 0.625rem auto 0;
        width: 80%; }
      .upload-input .custom-file-label img {
        max-height: 100px; }

        #parent {
            display: flex;
          }
         
          #borderDiv {
            border: 1px solid;
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
          }
  